/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
p,
li,
ul {
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

:root {
  --ifm-color-primary: #ba7402;
  --ifm-color-primary-dark: #ef9603;
  --ifm-color-primary-darker: #e28d03;
  --ifm-color-primary-darkest: #ba7402;
  --ifm-color-primary-light: #fcad2c;
  --ifm-color-primary-lighter: #fdb239;
  --ifm-color-primary-lightest: #fdc261;
  --ifm-color-white: #fcfcfc;
  --ifm-background-color: #fcfcfc;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] {
  --ifm-color-primary: #fbcc34;
  --ifm-color-primary-dark: #fac516;
  --ifm-color-primary-darker: #fac107;
  --ifm-color-primary-darkest: #d0a004;
  --ifm-color-primary-light: #fcd352;
  --ifm-color-primary-lighter: #fcd761;
  --ifm-color-primary-lightest: #fde28d;
}
